.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  color: var(--text-color);
}

.primary {
  font-weight: 700;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}
