.user {
  position: absolute;
  top: 5px;
  right: 5px;
  gap: 5px;
  z-index: 999;
  font-weight: 600;
  color: var(--primary-bg-color);
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 100px;
}

.user button {
  background-color: var(--color-dark--2);
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
